@using Mvc.Mailer;
<html>
<head>
</head>
<body>
    <div style="background-color: black; height: 165px;">
        <img src="@Url.Abs(@Url.Content("/Content/images/skeleton/topmenu-bg.png"))"/>
    </div>
    @RenderBody()
    <div style="color: #606060; font-family: Verdana, Geneva, sans-serif; font-size: 11px;">
        JewelryONet.com<br />
        Call: +972-3-5753457<br />
        Email: service@jewelryonet.com<br />
        © 2011 JewelryONet. All Rights Reserved.<br />
    </div>
</body>
</html>
