@using JONMVC.Website.Mailers
@model AskQuestionEmailTemplateViewModel
<p>You have a question from @Model.Name <br>
  His email is: @Model.Email<br>
  His phone number is: @Model.Email<br>
  He was asking:</p>
<p>@Model.Question</p>