@{
    Layout = null;
}
<h3>Thank You For Subscribing with JewelryONet</h3>

<div style="border: 1px solid #E9E9E9;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    width: 600px;">

Welcome to JewelryONet.com website. Now that you've registered to our website, we will share with you exclusive deals & offers and of course updates about our newest fine jewelry collections. We invite you to discover our new jewelry designs to complement your style, enjoy.
</div>
<br/>
Start by Visiting our website at: <a href="http://www.jewelryonet.com" >www.JewelryONet.com</a> 
<br/>
Your registration email is : @ViewBag.Email <br/>
Your password is : @ViewBag.Password <br/>


