@{
    Layout = "~/Views/UserMailer/_Layout.cshtml";
}
Dear @ViewBag.Name ,<br/>
We received a request for recover the password of your JewelryONet.com account.<br/>
Your registration details are written below:<br/><br/>

Your registration email is:@ViewBag.Email <br/>
Your password is: @ViewBag.Password <br/>

<br/>
<br/>

You can Sign In to your account here: <a href="https://www.jewelryonet.com/MyAccount/Signin" >https://www.jewelryonet.com/MyAccount/Signin</a>