@model JONMVC.Website.ViewModels.Views.DiamondSearchViewModel
@{
    ViewBag.Title = "Search Round Loose Diamonds at JewelryONet.com, Diamond Search Tool.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", new List<KeyValuePair<string, string>>() { new KeyValuePair<string, string>("Diamond Search", "") })
}
@Html.Partial("Tabs", Model.TabsForJewelDesignNavigation)
<div class="jewel-main">
    <div class="table width100">
        <div class="row">
            <div class="cell">
                <div class="diamond-search-container padding5 rounded5">
                <h2 class="redbold">Diamond search</h2>
                    <div class="table refine">
                        <div class="row" style="height: 35px">
                            <div class="cell label">
                                Shape:
                            </div>
                            <div class="cell shape-buttons">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="sprite-shape">
                                    <tr>
                                        <td class="shape1 off" filter="shape" key="Round" title="Round">
                                            &nbsp;
                                        </td>
                                        <td class="shape2 off" filter="shape" key="Princess" title="Princess">
                                            &nbsp;
                                        </td>
                                        <td class="shape3 off" filter="shape" key="Emerald" title="Emerald">
                                            &nbsp;
                                        </td>
                                        <td class="shape4 off" filter="shape" key="Asscher" title=" Asscher">
                                            &nbsp;
                                        </td>
                                        <td class="shape5 off" filter="shape" key="Oval" title="Oval">
                                            &nbsp;
                                        </td>
                                        <td class="shape6 off" filter="shape" key="Pear" title="Pear">
                                            &nbsp;
                                        </td>
                                        <td class="shape7 off" filter="shape" key="Radiant" title="Radiant">
                                            &nbsp;
                                        </td>
                                        <td class="shape8 off" filter="shape" key="Heart" title="Heart">
                                            &nbsp;
                                        </td>
                                        <td class="shape9 off" filter="shape" key="Marquise" title="Marquise">
                                            &nbsp;
                                        </td>
                                        <td class="shape10 off" filter="shape" key="Cushion" title="Cushion">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="cell sep">
                            </div>
                            <div class="cell label">
                                Cut:
                            </div>
                            <div class="cell cut-buttons">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="bg">
                                    <tr>
                                        <td class="off" filter="cut" key="EX">
                                            Excellent
                                        </td>
                                        <td class="off" filter="cut" key="VG">
                                            Very Good
                                        </td>
                                        <td class="off" filter="cut" key="GVG">
                                            Good to V.Good
                                        </td>
                                        <td class="off" filter="cut" key="G">
                                            Good
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell label">
                                Color:
                            </div>
                            <div class="cell color-clarity">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="bg">
                                    <tr>
                                        <td class="off" filter="color" key="D">
                                            D
                                        </td>
                                        <td class="off" filter="color" key="E">
                                            E
                                        </td>
                                        <td class="off" filter="color" key="F">
                                            F
                                        </td>
                                        <td class="off" filter="color" key="G">
                                            G
                                        </td>
                                        <td class="off" filter="color" key="H">
                                            H
                                        </td>
                                        <td class="off" filter="color" key="I">
                                            I
                                        </td>
                                        <td class="off" filter="color" key="J">
                                            J
                                        </td>
                                        <td class="off" filter="color" key="K">
                                            K
                                        </td>
                                        
                                    </tr>
                                </table>
                            </div>
                            <div class="cell sep">
                            </div>
                            <div class="cell label">
                                Carat
                            </div>
                            <div class="cell slider-row">
                                <div id="SliderCarat">
                                </div>
                                <input type="hidden" class="on" id="carat1" value="0.5" />
                                <input type="hidden" class="on" id="carat2" value="1.5" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell label">
                                Clarity:
                            </div>
                            <div class="cell color-clarity">
                                <table width="100%" border="0" cellspacing="1" cellpadding="0" class="bg">
                                    <tr>
                                        <td class="off" filter="clarity" key="IF">
                                            IF
                                        </td>
                                        <td class="off" filter="clarity" key="VVS1">
                                            VVS1
                                        </td>
                                        <td class="off" filter="clarity" key="VVS2">
                                            VVS2
                                        </td>
                                        <td class="off" filter="clarity" key="VS1">
                                            VS1
                                        </td>
                                        <td class="off" filter="clarity" key="VS2">
                                            VS2
                                        </td>
                                        <td class="off" filter="clarity" key="SI1">
                                            SI1
                                        </td>
                                        <td class="off" filter="clarity" key="SI2">
                                            SI2
                                        </td>
                                        <td class="off" filter="clarity" key="I1">
                                            I1
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="cell sep">
                            </div>
                            <div class="cell label">
                                Price:
                            </div>
                            <div class="cell slider-row">
                                <div id="SliderPrice">
                                </div>
                                <input type="hidden" class="on" id="price1" value="2000" />
                                <input type="hidden" class="on" id="price2" value="5000" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell" style="padding-top: 20px;">
                <table id="DiamondList">
                </table>
                <div id="DiamondPager">
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h1>
        Tips for choosing the Right Diamond</h1>
    <h2>
        How big to buy?</h2>
    <p>
        For many women, a diamond&rsquo;s size should be determined by her hand.<br />
        Some people believe that the bigger the size, the better the diamond. The size you
        purchase should be a factor not only of your budget, but also of the preferences
        of your fiancé.<br />
        The other Cs - Clarity, Color and Cut - also influence a diamond&rsquo;s price.
        A large stone looks out of place on a petite hand, whereas a tiny stone may be lost
        or insignificant on a larger finger.
        <br />
        The stone&rsquo;s shape should also be proportioned to the hand, which may allow
        a smaller carat weight to look lovelier than a large stone with an improper shape.</p>
    <h2>
        Which Clarity Should I Purchase?</h2>
    <p>
        Diamond clarity is critical for engagement rings; most stones have various types
        of flaws.
        <br />
        Inclusions are additional minerals that may cause a streak or stripe through the
        stone, and fractures are miniscule cracks and splits that look like tiny crystals,
        clouds or feathers. Clarity is the scale of perfection established by the Gemological
        Institute of America (GIA) that measures the number and magnitude of flaws in a
        diamond. Diamonds are graded for clarity under 10x loupe magnification. Grades range
        from Internally Flawless diamonds that are completely free of blemishes to Imperfect
        3 diamonds that possess large, heavy defects visible to the naked eye; we don&rsquo;t
        sell or trade with I-3 diamonds.<br />
        The most common clarity grading are VS2, SI1 and SI2. These stones are in the middle
        of the scale for flaws - not totally flawless and yet not having lot of flaws. That
        makes them affordable for many, and depending on the cut and setting of the stone,
        many of the flaws may not be noticeable.</p>
    <h2>
        Which Color Should I Purchase?</h2>
    <p>
        Many people may not notice slight shades of color, and lower grade stones are less
        expensive even when the difference isn&rsquo;t immediately noticeable. The average
        color for engagement diamonds is G to H. The next popular group is I-J because they
        are more affordable. Some people even prefer heavily colored stones because they
        are more unique in engagement settings.<br />
        A diamond's color grade affects its price, but it isn't the most important diamond
        characteristic to consider before purchasing a diamond. If your budget prevents
        you from buying a D through F graded diamond it does not mean you can't own a beautiful
        gemstone. Diamond grades G through J can be fine gems and other grades may be perfectly
        suitable. We will be glad to help you evaluate and select the best diamond for your
        needs.</p>
</div>
<script type="text/javascript">

	   $(document).ready(function () {
		   JewelDesign.Locals.DataFromController = @Html.Raw(Json.Encode(Model.JSONClientScriptInitializer)) ;
		   JewelDesign.InitDiamondSearch();

	       $('td[title]').qtip({
	               position: { adjust: { x: -20, y: -60 } },
	               style: {
	                   name: 'light',

	                   border: {
	                        radius: 3,
	                       color: '#87281d'
	                   },
	                   width: 100,
	                   padding: 3,
	                   background: '#87281d',
	                   color: 'white',
	                   textAlign: 'center',

	                   tip: {
	                       corner: 'bottomLeft',
	                       color: '#87281d',
	                       size: {
	                           x: 4,
	                           y: 4
	                       }

	                   }
	               }

	           });
		   
	   });


</script>
