@{
    ViewBag.Title = "My Account: Recover my password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model string

<div class="dialog">
    <h1 class="title">
        Recover Password</h1>
    
    <span>An email with instructions will be sent to @Model. It can take several minutes to receive this email.</span>
   
</div>
