@model JONMVC.Website.ViewModels.Views.RecoverPasswordViewModel

@{
    ViewBag.Title = "My Account: Recover my password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", new List<KeyValuePair<string, string>>() {new KeyValuePair<string, string>("Recover password", "")})
}

<div class="dialog">
    <h1 class="title">
        Recover your password</h1>
    @if (Model.HasError)
    {
        <div class="error">
            @Model.ErrorMessage <br/><br/>

            If the problem persist please @Html.ActionLink("contact us", "GetInTouch", "Services") for help.
        </div>
    }
    <div class="table">
        <div class="row">
            <div class="cell width50">
                @using (Html.BeginForm())
                {

                    <fieldset class="onecolumb-form">
                        <dl>
                            <dt>
                                <label for="Email">
                                    Your Email:</label>
                            </dt>
                            <dd>
                                @Html.TextBoxFor(x=> x.Email)
                                <span data-valmsg-replace="false" data-valmsg-for="Email" class="field-validation-valid">
                                </span>
                            </dd>
                        </dl>
                        
                        <dl>
                            <dt></dt>
                            <dd>
                                <input type="submit" value="Recover" class="button top10" />
                                
                            </dd>
                        </dl>
                    </fieldset>

        
                }
            </div>
            <div class="cell width50">
            </div>
        </div>
    </div>
</div>