@{
    Layout = null;
}
@if (ViewBag.IsSignedIn)
{
    @Html.ActionLink("My Account", "Index", "MyAccount") 
    @:&#160;
    @Html.ActionLink("(Sign Out)", "Signout", "MyAccount")
    
}
else
{
    @Html.ActionLink("Sign In", "Signin", "MyAccount") 
	
	<span style="display: inline">
		&nbsp; &nbsp; &nbsp;
		New Customer? @Html.ActionLink("Become a Member","Register","MyAccount",new {@class="yellow"})
	</span>
}
