@model JONMVC.Website.ViewModels.Views.EmptyViewModel

@{
    ViewBag.Title = "My Account:Thank you for joining";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", new List<KeyValuePair<string, string>>() {new KeyValuePair<string, string>("Joining", "")})
}
<div class="rounded-white-container">
    <h2>
        Thank You For Registering with JewelryONet</h2>
    <span>Welcome to JewelryONet.com website. Now that you've registered to our website, we will share with you exclusive deals & offers and of course updates about our newest fine jewelry collections. We invite you to discover our new jewelry designs to complement your style, enjoy.</span>
</div>
