<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="JONMVC.Website.Tests.Integration.Properties.Settings.JONetConnectionString"
			connectionString="Data Source=(local);Initial Catalog=JONet;Persist Security Info=True;User ID=jon;Password=0953acb"
			providerName="System.Data.SqlClient" />
		<add name="JONEntities" connectionString="metadata=res://*/Models.DB.JONDataModel.csdl|res://*/Models.DB.JONDataModel.ssdl|res://*/Models.DB.JONDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=JONet;persist security info=True;user id=jon;password=0953acb;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		
	</connectionStrings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
				<bindingRedirect oldVersion="1.1.0.188" newVersion="2.0.0.232" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>