<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    @Html.Partial("HeadersForLayout")
</head>
<body>
    <div>
        <div class="aligncenter">
            <div class="table  center pageSize">
                @Html.Partial("TopManuAndNavBar")
				<div id="MainTable" class="table alignleft pageSize">
					<div class="row">
						<div class="cell">
							<div class="block aligncenter">
								<ul class="abovebar center">
									<li class="search"><a href="#!">Free Worldwide Shipping</a></li>
									<li class="search"><a href="#!">30-DAY Return Policy</a></li>
									<li class="search"><a href="#!">International Representative</a></li>
								</ul>
							</div>
							@RenderBody()
							@Html.Partial("Footer")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26262157-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</body>
</html>

