@using MvcContrib.FluentHtml
@model string
<div class="emailring" id="EmailRing" style="width: 380px;display: none">
    <h2>
        Email this ring to a friend
    </h2>
    @using (Html.BeginForm("EmailRing", "JewelryItem"))
    {

        <fieldset class="onecolumb-form">
            <dl>
                <dt>
                    <label for="FriendName">
                        Friends Name:</label></dt>
                <dd>
                    <input type="text" name="FriendName" data-val-required="*" data-val="true" class="left" /><span
                        class="field-validation-valid left" data-valmsg-for="FriendName" data-valmsg-replace="false"></span></dd>
            </dl>
            <dl>
                <dt>
                    <label for="FriendEmail">
                        Friends Email:</label></dt>
                <dd>
                    <input type="text" name="FriendEmail" data-val-required="" data-val="true" data-val-email="*"
                        class="left" /><span class="field-validation-valid  left" data-valmsg-for="FriendEmail"
                            data-valmsg-replace="false"></span></dd>
            </dl>
            <dl>
                <dt>
                    <label for="phone">
                        Your Message:</label></dt>
                <dd>
                    <textarea type="text" name="Message" data-val-required=""  class="left" style="width: 240px;height: 95px" ></textarea></dd>
            </dl>
            <dl>
                <dt>
                    <label for="question">
                        Your Name</label></dt>
                <dd>
                    <input type="text" name="YourName" data-val-required="" data-val="true" class="left"
                       ></input><span
                        class="field-validation-valid left" data-valmsg-for="YourName" data-valmsg-replace="false"></span></dd>
            </dl>

             <dl>
                <dt>
                    <label for="question">
                        Your Email</label></dt>
                <dd>
                    <input type="text" name="YourEmail" data-val-required="" data-val="true" class="left"
                       ></input><span
                        class="field-validation-valid left" data-valmsg-for="YourEmail" data-valmsg-replace="false"></span></dd>
            </dl>
            <dl>
                <dt></dt>
                <dd>
                    <input type="submit"  class="top10 button"  value="Send ring" disable-upon-click="true" loader="false" loader-location="right" />
                </dd>
            </dl>
        </fieldset>
        @this.Hidden("ID").Value(Model)

    }


</div>
