@model string
<div class="relativepositiner">
    <input type="button" value="Buy Now" class="button" style="position: relative; top: -32px;
        left: 167px" link="true" url="@Model" />
</div>
