<div class="cell rightpane policy">
				<h2>
					Order With Confidence</h2>
				@Html.ActionLink("30-DAY Return Policy", "Policy", "Services", null, new { @class = "boxy", title = "Policies" })
				<br />
				@Html.ActionLink("Lifetime Warranty", "Policy", "Services", null, new { @class = "boxy", title = "Policies" })
				<br />
				@Html.ActionLink("Free Worldwide Shipping", "Policy", "Services", null, new { @class = "boxy", title = "Policies" })
				<br />
				<ul class="top5">
					<li>* Free Ring Resizing</li>
					<li>* Free Gift Packaging</li>
					<li>* Appraisal Included</li>
				</ul>
			</div>

