<div class="cell rightpane policy">
				<h2>
					Order With Confidence</h2>
				@Html.ActionLink("Money Back Guarantee", "Policy","Services")
				<br />
				@Html.ActionLink("Lifetime Warranty", "Policy", "Services")
				<br />
				@Html.ActionLink("Fully Insured Shipping", "Policy", "Services")
				<br />
				<ul class="top5">
					<li>* Free Ring Resizing</li>
					<li>* Free Gift Packaging</li>
					<li>* Appraisal Included</li>
				</ul>
			</div>

