<p>
					We are shipping Worldwide - Free Insured Shipping. This Item will be shipped by FedEx Priority or ‘Malca Amit’ diamond courier 
company, depending on their destination. Handling time may vary depending on item (usually takes 7-10 business days).  </p>

