@model object
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-26262157-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
<div id="lf_div_invite" name="lf_div_invite" style="display:none;position:absolute;left:0px;top:0px;width:0px;height:0px;">
<iframe name="lf_iframe_invite" id="lf_iframe_invite" frameborder="0" src="about:blank"
style="width:100%;height:100%;border:none;" allowtransparency="true" scrolling="no"></iframe></div>
<!-- Velaro Weblink Code -->
<script type="text/javascript">
    var pt = 'http';
    var qs = escape(window.location.search);
    var ti = new Date();
    if (location.href.substr(0, 5).toLowerCase() == 'https') pt = 'https';
    var ed = new Date();
    ed.setHours(23); ed.setMinutes(59); ed.setSeconds(59);
    ed.setFullYear(ed.getFullYear() + 1);
    var la = ''; if (navigator.appName == 'Netscape') la = navigator.language; else la = navigator.systemLanguage;
    var pn = ''; //'&pn='+location.pathname; // set to a human readable pagename if desired
    var rm = escape(window.document.referrer);
    var pm = window.document.URL.replace(/&/g, "*");
    var sm = pt + '://v.velaro.com/lf/monitor2.aspx?siteid=10385';
    sm = sm + '&qs=' + qs + '&ti=' + ti.getTime() + '&tz=' + ti.getTimezoneOffset() + '&an=' + escape(navigator.appName) + '&co=' + escape(navigator.cookieEnabled);
    sm = sm + '&la=' + escape(la) + '&pl=' + escape(navigator.platform) + '&pal=' + screen.colorDepth + '&sw=' + escape(screen.width + 'x' + screen.height);
    sm = sm + pn + '&je=' + navigator.javaEnabled() + '&origin=';
    sm = sm + rm + '&pa=' + pm;
    document.write('<script src="' + sm + '"></scr' + 'ipt>');
</script>
<!-- End Velaro Weblink Code -->
