@model JONMVC.Website.ViewModels.Views.EmptyViewModel

@{
    ViewBag.Title =Model.PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", Model.PathBarItems)
}
<div class="pitch pitch-gift">
   		<h1>Gift Ideas</h1>
        
        <p class="top5">
       From gold to gemstones, find the perfect jewelry
gift. Select a personal gift for any occasion like
Birthday, Anniversary, Wedding, or just buying a 
gift for that speacial someone.
<br /><br />

 At JewelryONet you will find the perfect gift that
fits within your budget. 	
    </p>
      
  </div>
    
    <div class="table top20" id="BlockContent" >
                	<div class="row" >
                    	<div class="cell" >
                        <div class="displayatom block " >
                        
                       	  <h1 class="title aligncenter">Top 5 Gifts</h1>
                        	<div class="give-pedding">
                                    <div class="block aligncenter" >
                           	    	  <img src="/Content/images/pages/gift/1-1.png"  />
                                    </div>
                                    
                          <div class="cell"  >
                                    
                                    <span class="block desc" >
                                    	Start here if you are looking for a unique
gift for any special occasion. 


                          </span>
                         
                              
                              </div>
                          </div>   
                          <div class="clear" ></div>
                        </div>

                        </div>
                        
                        <div class="cell" >
                        <div class="displayatom block " >
                        
                       	  <h1 class="title aligncenter">Birthday Gifts</h1>
                        	<div class="give-pedding">
                                    <div class="block aligncenter" >
                           	    	  <img src="/Content/images/pages/gift/1-2.png"  />
                                    </div>
                                    
                                    <div class="cell "  >
                                    
                                    <span class="block desc" >
                                    	Birthday gifts deserve to be special and 
thought out. Take a look at our amazing 
range of Birthday Gifts including:
Gold Bracelets, Diamond Pendants,
Gemstone Rings and much more.  

                                    </span>
                         
                              
                              </div>
                          </div>   
                          <div class="clear" ></div>
                        </div>

                        </div>
                        
                        <div class="cell" >
                        <div class="displayatom block " >
                        
                       	  <h1 class="title aligncenter">Gifts By Budget</h1>
                        	<div class="give-pedding">
                                    <div class="block aligncenter" >
                           	    	  <img src="/Content/images/pages/gift/1-3.png"  />
                                    </div>
                                    
                                    <div class="cell "  >
                                    
                                    <span class="block desc" >
                                    Surprise her with a gift of beautiful 
diamond fashion jewelry.
See the newest designs in our collection 
and find the amazing gift that fits within
your budget. 


                                    </span>
                         
                              
                              </div>
                          </div>   
                          <div class="clear" ></div>
                        </div>

                        </div>
                        
                        
                        
                        
                        
                        
                    </div>
                    
                    
  </div>

  <h2 class="top10">
	                Diamond Stud Earrings
                </h2>
                <p>Gift-giving isn't always easy. Buying a gift for that special someone after you've just started dating is not simple. 
Fortunately, there are a few simple things you can do to hone in on the perfect gift no matter who the recipient 
might be. When it comes to gift-giving, it really is the thought that counts. A great gift  demonstrates that you've 
given some thought to a person and his or her interests. If you are not sure where to start, try visit our Gift Idea 
section, where you will find gift ideas according to the occasion and most important within your budget.
                
                </p>
