@using JONMVC.Website.Models.Admin
@using Microsoft.Web.Helpers
@using MvcContrib.FluentHtml
@inherits ModelWebViewPage<UpdateDiamondsModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>UpdateDiamonds</title>
</head>
<body>
    <div>
       @using (Html.BeginForm("UpdateDiamonds", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
       {
          @this.FileUpload("csvfile")

          @this.Button("Upload file")
       }

    </div>
</body>
</html>
