@model JONMVC.Website.ViewModels.Views.EmptyViewModel

@{
    ViewBag.Title = "About Us - JewelryONet, Diamond Engagement Rings, loose diamonds, diamond jewelry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", new List<KeyValuePair<string, string>>() {new KeyValuePair<string, string>("About us", "")})
}
<h1 >About Us</h1>

<p class="justify">
Jewelryonet, the marketing branch of Hausman Diamonds provides its clients with a wide variety of diamonds and jewelry directly from the manufacturer, thus maintaining superior quality and design suited to the client’s wishes and specifications. Hausman Diamonds was originally established 34 years ago as a diamond manufacturing company. It is a member of the Israel Diamond Exchange as well as the Diamond Manufacturers Association. In 1990, the company received an award from the State of Israel as an outstanding exporter. Hausman Diamonds has offices in the Far East and the United States, and the president of the company, Ygal Hausman, has served as president of the Diamond Manufacturers Association in Israel and as president of the International Diamond Manufacturers Association. Our knowledge, professionalism, and reliability are hallmarks of our company and serve the benefits and interests of our clients.
</p>

<h2 class="title">Top Quality Diamonds & Gemstones</h2>
<p class="justify">
Welcome to JewelryONet where you can find plenty of stunning Diamond and Gemstone rings to choose from amongst our numerous collections. A wide variety of jewels and styles are represented, from boldly colored earrings to decorative engagement rings in pastel hues. The ideal place to shop for engagement or fashion rings is here. JewelryONet offers stunning diamond & gemstone jewelry collection features diamond engagement rings, diamond wedding rings, diamond studs, diamond hoops, and stunning diamond tennis bracelets. Take a look at our high-quality diamond pendants in a wide range of designs. Our gorgeous Diamond Studs are available in a variety of designs and metals.
</p>

<h2 class="title">The Highest Quality Standards</h2>
<p class="justify">
Choose from Round or Princess Cut rings. Declare your love with our collection of wedding rings and anniversary bands.We offer diamond bands, diamond eternity rings and wedding bands in 14K and 18K gold or platinum. Simply put, JewelryONet is unmatchable in quality, quantity, price or service, and we are here to create luxury and beauty for you that will grow in value and last for generations.
</p>

<p class="justify bold">
Need an immediate answer? Please review our frequently asked questions. <br/> Our team of Jewelry Experts is trained to help you. Just gives us a call +972-3-5753457.
</p>
