@using MvcContrib.FluentHtml
@{
    ViewBag.Title = "Aweber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div  class="rounded-white-container">
                              
                                <h3 class="block explanation bold ">
                                    Sign up today and receive special offers and gift ideas</h3>
                                <form method="post" action="https://www.aweber.com/scripts/addlead.pl" target="_blank">
                                <input type="hidden" name="meta_web_form_id" value="835977868" />
                                <input type="hidden" name="meta_split_id" value="" />
                                <input type="hidden" name="listname" value="jewelryonet" />
                                <input type="hidden" name="redirect" value="http://www.aweber.com/thankyou-coi.htm?m=video"
                                    id="redirect_1a50109bb3751b899fd5e7d6982c1eda" />
                                <input type="hidden" name="meta_adtracking" value="JewelryONet" />
                                <input type="hidden" name="meta_message" value="1" />
                                <input type="hidden" name="meta_required" value="name,email" />
                                <input type="hidden" name="meta_tooltip" value="" />
                                <fieldset class="onecolumb-form">
                                <dl>
                            <dt>
                                <label for="Email">
                                    Your Name:</label>
                            </dt>
                            <dd>
                               @this.TextBox("name").Value(ViewBag.Name).Placeholder("Enter your name").Attr("data-val", "true").Attr("data-val-required", "")
                                <span data-valmsg-replace="false" data-valmsg-for="Email" class="field-validation-valid">
                                </span>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <label for="Email">
                                    Your Email:</label>
                            </dt>
                            <dd>
                                @this.TextBox("email").Value(ViewBag.Email).Placeholder("Enter your email").Attr("data-val", "true").Attr("data-val-required", "").Attr("data-val-email", "").Class("top5")
                                <span data-valmsg-replace="false" data-valmsg-for="Email" class="field-validation-valid">
                                </span>
                            </dd>
                        </dl>
                                
                                
                               
                                <input type="submit" class="smallbutton top5" value="Sign up today" alt="Sign up today" /></fieldset>
                                </form>
                            </div>