@model JONMVC.Website.ViewModels.Views.EmptyViewModel

@{
    ViewBag.Title = "JewelryONet.com Frequently Asked Questions (FAQ), About Us, Contact Us.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", new List<KeyValuePair<string, string>>() {new KeyValuePair<string, string>("FAQ", "")})
}
<h2 class="title">About Us</h2>

<h3 class="faqtitle">Do you operate only online?</h3>
<p class="justify faqblock"> 
Yes. JewelryONet is an online retailer of fine diamond & gemstone jewelry. We are operating also as an wholsale company of loose diamonds and gemstones. This allows us to reduce future costs and focus on quality and service. At JewelryONet you will get a high quality product at a much better price than your own local jewelry store, this is a gurantee. We understand the importance our customers give to see and feel jewelry, that's why we offer free insured shipping on all our products and a 30-day money back guarantee. For more information about our company please visit our About Us page.
</p>

<h3 class="faqtitle">Where are the offices of JewelryONet? </h3>
<p class="justify faqblock"> 
Yes. JewelryONet is an online retailer of fine diamond & gemstone jewelry. We are operating also as an wholsale company of loose diamonds and gemstones. This allows us to reduce future costs and focus on quality and service. At JewelryONet you will get a high quality product at a much better price than your own local jewelry store, this is a gurantee. We understand the importance our customers give to see and feel jewelry, that's why we offer free insured shipping on all our products and a 30-day money back guarantee. For more information about our company please visit our About Us page.
</p>

<h3 class="faqtitle">Do you operate only online?</h3>
<p class="justify faqblock"> 
JewelryONet operates World-Wide and has offices in New York, Hong Kong and Tel Aviv. Our head office is located in the heart of the diamond exchange building in Ramat-Gan, Israel.  Visitors are welcome. To set up an appointment, please call us at 972-3-5753457. 
<br/>
<br/>
We welcome your comments and suggestions. <br/> 
Please write us to: 
<br/>
<br/>

JewelryONet (Diamonds and Jewelry View ltd) <br/>
21 Tuval Street <br/>
Ramat-Gan, 52520 <br/>
Israel<br/>
<br/>

For more information about how to contact us please visit our Customer Service page. 
</p>
<h2 class="title">Orders and Ring Sizes</h2>
<h3 class="faqtitle">Can I purchase through your website? </h3>
<p class="justify faqblock"> 
Yes. You can order our engagement rings, fine jewelry or loose diamonds using our secure checkout process. 
</p>

<h3 class="faqtitle">How Do I figure out my ring size?  </h3>
<p class="justify faqblock"> 
To accurately measure your rings size or the ring size of your loved one, please visit our Ring Size Guide. 
</p>

<h3 class="faqtitle">Do “Design Your Own” rings come with Money Back Guarantee?  </h3>
<p class="justify faqblock"> 
Yes. Designing your own ring using our website or having your diamond mounted into any ring does not make the ring custom. Custom orders refer only to ring designs that are not listed on the JewelryONet.com website.  Every piece of jewelry or loose diamond listed on our website is sold with a 100% money back guarantee.
</p>

<h3 class="faqtitle">Can I place a diamond on hold while I get more information? </h3>
<p class="justify faqblock"> 
Yes. In order to place a hold, simply email us with your full name, email address and phone number. Holds are for 24 hours.
</p>

<h3 class="faqtitle">Can JewelryONet engrave my ring or pendant? </h3>
<p class="justify faqblock"> 
Yes, we'd be happy to personalize your ring or pendant with an inscription, Free of charge.
<br/>
<br/>
Can I purchase only the setting from JewelryONet and having my diamond set into it?
Yes. When you place an order with just a setting (without a diamond), you can select an option to have us set your diamond and prepare an insurance appraisal. We are charging additional costs of $180 for this service. Please Note: JewelryONet.com will take every precaution to ensure that your diamond is professionally mounted into our ring setting; however we cannot be responsible for any damage that may occur during the setting process.

</p>

<h3 class="faqtitle">Can I place an International order? </h3>
<p class="justify faqblock"> 
Yes of course. When you place your order, we collect payment for the item, the shipping is Free of Charge. Once the package arrives in your country, Fedex or any other courier will contact you to collect any taxes or duties. For most orders International shipping is via Fedex International Priority and usually takes about three business days. When your purchase is above $10,000 USD we will use a diamond courier company to deliver your package.
</p>

<h3 class="faqtitle">Are your jewelry hallmark? </h3>
<p class="justify faqblock"> 
Yes, each piece of jewelry purchased from us is stamped with the metal type (18K, 14K or Platinum).
</p>

<h3 class="faqtitle">What if the ring I buy is the wrong size? </h3>
<p class="justify faqblock"> 
We offer free resizing within 30 days of purchase on all rings. After 30 days, the fee is $45 for gold rings and $85 for platinum rings. We'll return your ring to you (for free) via FedEx. Please note that eternity bands and tension rings cannot be resized, these rings must be remanufactured.
<br/>
<br/>
I have a question or need a help about my order, I’d like to change it or need to cancel it, what do I do? 
We welcome you to contact us at 972-3-5753457, or e-mail us at service@jewelryonet.com any time.   Also if you need a help placing your order we are more than happy to assist you.  You can check your order status online by clicking here. In order to check it you will need your order number and email address.
</p>

<h2>Our Diamonds, Gemstones and Fine Jewelry</h2>

<h3 class="faqtitle">Are any of your diamonds treated or enhanced in any way? </h3>
<p class="justify faqblock"> 
We at JewelryONet are selling diamonds that are 100% natural and NOT enhanced in any way.
<br/>
<br/>
Do you use synthetic gemstones in your jewelry?
We do not sell synthetic or lab created gemstones. Every gemstone we offer for sale was mined from the earth. 
<br/>
<br/>
How can I be sure the diamond I receive is actually the diamond I ordered?
We deliver every loose diamond and diamond engagement ring with an independent third party lab report (GIA, EGL etc.)  This report can be examined by a gemologist and compared against the unique characteristics of your diamond. 
</p>

<h3 class="faqtitle">What are conflict-free diamonds? </h3>
<p class="justify faqblock"> 
Conflict diamonds, also known as blood diamonds, are diamonds that are mined in areas of political conflict and civil war, and whose sale goes to fund insurgent warfare and armed violence. At JewelryONet we take the matter of conflict diamonds very seriously, we make sure that our customers receive conflict-free diamonds. We exclusively purchase diamonds through the most reputable suppliers, who strictly enforce the requirements of the Kimberly Process, and offer proof that all of their diamonds are procured by legal means. All diamonds sold on JewelryONet are guaranteed to be conflict-free by our suppliers. When you shop at JewelryONet, you can be certain that your diamonds are coming from the most reputable providers.
</p>

<h3 class="faqtitle">What are the Four C's? </h3>
<p class="justify faqblock"> 
The 4 Cs (Clarity, Color, Cut and Carat Weight) are the main factors by which the diamond industry evaluates a diamond's physical attributes. It is very important to understand this basic terminology, as it is the mode by which a diamond dealer rates diamonds comparatively, and the way in which diamonds are evaluated by laboratories that issue Diamond Grading Reports.
</p>

<h3 class="faqtitle">Can I place a diamond on hold while I get more information? </h3>
<p class="justify faqblock"> 
Yes. In order to place a hold, simply email us with your full name, email address and phone number. Holds are for 24 hours.
</p>

<h3 class="faqtitle">Can I place a diamond on hold while I get more information? </h3>
<p class="justify faqblock"> 
Yes. In order to place a hold, simply email us with your full name, email address and phone number. Holds are for 24 hours.
</p>