@model JONMVC.Website.ViewModels.Views.FeedBackskViewModel

@{
    ViewBag.Title = "Feedbacks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cooming soon we don't have design for this page yet</h2>
