@model JONMVC.Website.ViewModels.Views.EmptyViewModel

@{
    ViewBag.Title = "Enjoy Risk Free Online Shopping: Free Worldwide Shipping, 100% Full Refund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PathBar {
    @Html.Partial("PathBar", new List<KeyValuePair<string, string>>() { new KeyValuePair<string, string>("Risk Free Online Shopping", "") })
}
<h1 >Enjoy Risk Free Online Shopping</h1>
<p class="justify">
JewelryONet is an online retailer of fine diamond & gemstone jewelry. We are operating also as an wholesale company of loose diamonds and gemstones. This allows us to reduce future costs and focus on quality and service. At JewelryONet you will get a high quality product at a much better price than your own local jewelry store, this is a guarantee. We understand the importance our customers give to see and feel jewelry, that's why we offer free insured shipping on all our products and a 30-day money back guarantee.
</p>

<h2 class="title">30-Day Return Policy</h2>
<p class="justify">

We offer a 30-day return policy so our customers can purchase with confidence knowing they will have sufficient time to return goods if they are not completely satisfied. If for any reason you are not satisfied with your purchase, you can return the item for a full refund.
</p>

<h2 class="title">100% Full Refund</h2>
<p class="justify">

If for any reason you are not satisfied you can return any item in its original condition, within 30 days of the date of shipment for a 100% full refund or an exchange. It's that simple.
</p>

<h2 class="title">Lifetime Warranty</h2>
<p class="justify">

At JewelryONet each piece is made with special care, skill and hours of patient effort.  We understand that this piece of jewelry will be among the most personal and meaningful you will ever own. Therefore, JewelryONet provides its jewelry owners with a Full Lifetime Warranty. Any repair or replacement under this warranty is not valid if any work is performed on the jewelry by any other jeweler or for damages caused by everyday normal wear and tear. 
</p>

<h2 class="title">Free Worldwide Shipping</h2>
<p class="justify">

We are shipping Worldwide - Free Insured Shipping, international Shipping is Available.  All deliveries must be made to a physical business or home address only.  For fastest delivery, all orders greater than $500 in value are shipped FedEx Priority. All other orders are shipped EMS or Registered Mail service depends on destination, tracking Number will be provided for each order. Handling time may vary depending on item (usually takes 7-10 business days).
</p>

<h2 class="title">100% Full Refund</h2>
<p class="justify">

If for any reason you are not satisfied you can return any item in its original condition, within 30 days of the date of shipment for a 100% full refund or an exchange. It's that simple.
</p>

<h2 class="title">Payment Policy</h2>
<p class="justify">

We accept Wire Transfer and Visa/MC/Discover/Amex through www.PayPal.com 
If payment is made Via PayPal then we ship only to a PayPal CONFIRMED ADDRESS.

</p>

<h2 class="title">Our Guarantee</h2>
<p class="justify">

<ul class="circles" >
  <li>We have a no-risk 30  day money back guarantee - always satisfied or your money back.        </li>
  <li>We are PayPal verified.</li>
  <li>You get the opportunity of buying jewelry at  wholesale prices        </li>
  <li>We offer a wide range of Certified Diamonds &amp;  Fine Jewelry certified by GIA, EGL, HRD, etc.
  </li>
  <li>We are dedicated to customer service, feel free to  call us at any time or send us an email 24 hours a day        </li>
  <li>All of our items are brand new</li>
  <li>All of our Gemstones &amp; Diamonds are 100%  genuine and natural        </li>
  <li>Free Worldwide Shipping with fast and up to date  shipping methods </li>
</ul>

</p>