@{
    ViewBag.Title = "Checkout: Session Time Out";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout Session Timedout</h2>
<p>
Seems like you tried to order long time ago, for security porpuses we have restarted your session, please compete the order process again

</p>
