<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="JewelryWebImagePath" value="/jon-images/jewelry/" />
    <add key="JewelryDiskImagePath" value="F:\Users\maMLUka\Documents\jewelryonnet\internet-sites\jon-images\jewelry\" />
    <add key="DiamondWebImagePath" value="/jon-images/diamond/" />
    <add key="TabXMLPath" value="F:\Users\maMLUka\Documents\jewelryonnet\internet-sites\JONMVC\JONMVC.Website\Models\Tabs\tabs.xml" />
    <add key="AdminEmail" value="david.mazvovsky@gmail.com" />
    <add key="DiamondHelpXMLPath" value="F:\Users\maMLUka\Documents\jewelryonnet\internet-sites\JONMVC\JONMVC.Website\Models\JewelDesign\diamondhelp.xml" />
    <add key="MvcMailer.BaseUrl" value="https://www.jewelryonet.com" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/MyAccount/Signin" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="1.1.0.188" newVersion="2.0.0.232" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="JONEntities" connectionString="metadata=res://*/Models.DB.JONDataModel.csdl|res://*/Models.DB.JONDataModel.ssdl|res://*/Models.DB.JONDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=JONet;persist security info=True;user id=jon;password=0953acb;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <smtp from="sales@jewelryonet.com">
        <network enableSsl="false" host="mail.jewelryonet.com" port="25" userName="sales@jewelryonet.com" password="dview2279" />
      </smtp>
      <!--		<smtp from="david.mazvovsky@gmail.com">-->
      <!--			<network enableSsl="true" host="mail.jewelryonet.com" port="587" userName="sales@jewelryonet.com" password="0953acb" />-->
      <!--		</smtp>-->
      <!-- Method#2: Dump emails to a local directory -->
      <!--
			<smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
				<network host="localhost" />
				<specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
			</smtp>
			-->
    </mailSettings>
  </system.net>
</configuration>